html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center !important;
    text-align: center;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

a {
  text-decoration: none;
}

/* menu */

nav {
  height: 12vh;
}

/* .navbar {
  margin-bottom: 0;
  color: white;
  margin: auto;
  background-color: black;
  border-color: rgba(231, 231, 231, 0);
} */

.navbar-nav {
  margin: auto;

}

.imagem-auth{
  background-image: url('../img/imgregistro.jpg');
  background-size: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;

}

h2 {
  margin: 0 0 20px 0;
  font-weight: 500;
  font-size: 34px;
  color: #fff;
  text-transform: uppercase;

}

/*Página de Read do CRUD de Admin - Produtos/Clientes/Planos*/

.lista-admin{
  font-size: 0.8rem;
}
